@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #480d5b;
    --primary-color-2: #631b7a;
    --secondary-color: #fdf4d9;
}
body{
    background-color:var(--primary-color);
}